---
Checks: >
  clang-analyzer-*,
  performance-*,
  portability-*,
  cert-*,
  bugprone-*,
  -bugprone-assignment-in-if-condition,
  -bugprone-easily-swappable-parameters,
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-do-while,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-pro-bounds-avoid-unchecked-container-access,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-use-enum-class,
  -cppcoreguidelines-c-copy-assignment-signature,
  -cppcoreguidelines-noexcept-move-operations,
  -cppcoreguidelines-prefer-member-initializer,
  -cppcoreguidelines-use-default-member-init,
  -cppcoreguidelines-avoid-const-or-ref-data-members,
  -cppcoreguidelines-avoid-magic-numbers,
  modernize-*,
  -modernize-use-trailing-return-type,
  -modernize-avoid-c-style-cast,
  -modernize-avoid-c-arrays,
  -modernize-use-nodiscard,
  -modernize-use-default-member-init,
  -modernize-pass-by-value,
  misc-*,
  -misc-no-recursion,
  -misc-use-internal-linkage,
  -misc-multiple-inheritance,
  -misc-unconventional-assign-operator,
  -misc-override-with-different-visibility,
  -misc-non-private-member-variables-in-classes,
  readability-*,
  -readability-function-cognitive-complexity,
  -readability-identifier-length,
  -readability-duplicate-include,
  -readability-else-after-return,
  -readability-container-contains,
  -readability-use-concise-preprocessor-directives,
  -readability-avoid-nested-conditional-operator,
  -readability-make-member-function-const,
  -readability-avoid-const-params-in-decls,
  -readability-magic-numbers
CheckOptions:
  misc-include-cleaner.MissingIncludes: 'false'
  misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic: 'true'
WarningsAsErrors: "*"
...
