---
Checks: >
  clang-analyzer-*,
  performance-*,
  portability-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-narrowing-conversions,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-avoid-do-while,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-type-vararg,
  modernize-*,
  -modernize-use-trailing-return-type,
  -modernize-avoid-c-arrays,
  misc-*,
  -misc-use-anonymous-namespace,
  -misc-no-recursion,
  -misc-non-private-member-variables-in-classes,
  cert-*,
  -cert-err58-cpp,
  bugprone-*,
  -bugprone-assignment-in-if-condition,
  -bugprone-narrowing-conversions,
  -bugprone-easily-swappable-parameters,
  -bugprone-macro-parentheses
CheckOptions:
  misc-include-cleaner.MissingIncludes: 'false'
WarningsAsErrors: "*"
...
